
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border-top: #572EE5 5px solid;
    border-bottom: #572EE5 5px solid;
}

main {
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
}