@import 'variables';

#home {
    width: 100%;
    margin-top: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: $base-color-light;
    text-align: center;
    line-height: 33px;
    padding: 0 40px 30px;
    @media screen and (min-width: 1220px) {
        font-size: 35px;
        color: $base-color-light;
        text-align: center;
        line-height: 50px;
        padding: 50px 300px;
    }
    span {
        color: $special-color;
    }
}

.main-image {
        display: flex;
        justify-content: center;
    img {
        width: 200px;
        height: 100%;
        @media screen and (min-width:1220px) {
            width: 399px;
            height: 190px;
        }
    }     
}

//// Search Bar ////

.grid-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.loader {
    display: block;
    margin: auto;
}

#input-ctn {
    justify-content: center;
    display: flex;
}
#search {
    width: 250px;
    height: 50px;
    border: 1px solid $base-color-light;
    border-radius: 27px;
    padding: 0 10px;
    cursor: text;
    outline: none;
    @media screen and (min-width: 1220px) {
        width: 551px;
    }
}


.main-text {
    padding: 50px 40px;
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: $base-color-light;
        text-align: center;
        line-height: 25px;
    }
}
