@import 'variables';

#trending {
    background-color: $trending-bg-color;
    width: 100%;
    height: 640px;
}

.trending-text {
    text-align: center;
    padding: 100px 60px;
    font-weight: 400;
    font-size: 16px;
    color: $base-color-light;
    line-height: 23px;
    p {
        color: $text-color;
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

/* Gifos section */

.slider {
    display: none;
}

#gifs-container {
    display: flex;
}
#gif {
    width: 200px;
    margin: 10px;
} 

@media screen and (min-width: 1220px) {

    .main-trendign-container {
        display: flex;
        justify-content: space-between;
        iframe {
            margin: 0 10px;
        }
        }
    .slider {
        padding: 0 30px;
        display: block;
    }
    #main-gifs-container {
        display: flex;
    }
    #gif {
        width: 300px;
        height: 200px;
        margin: 10px;
    } 
    .gif-img {
        width: 300px;
        height: 250px;
        margin: 0 5px;
    }
}


