@import 'variables';


/* Gifos create button */
.btn-gifos {
    display: none;
    cursor: pointer;
    width: 40px;
    margin-top: 10px;
    @media screen and (min-width: 1220px) {
        display: block;
    }
}

#main-gifo {
    display: none;
    @media screen and (min-width: 1220px){
        display: block;
    }
}

@media screen and (min-width: 1220px) {
    #crear-gifo {
        width: 85%;
        height: 700px;
        display: flex;
        margin: auto;
        // border: 1px solid red;
    }

    .content-gifo-camera {
        display: flex;
        width: 70%;
        height: 600px;
        border: 1px solid blue;
        text-align: center;
        margin: auto;
        p {
            color: black;
            margin-top: 20px;
            line-height: 30px;
        }
    }

    .create-card-container {
        margin: auto;

    }

    #videoWidget{
        margin-left: 90px;
        display: none;
    }

    #create-title {
        padding: 0;
    }

    .camera-img {
        margin-top: 300px;
    }

    .camera-light {
        margin-top: 320px;
    }

    .pelicula-img {
        margin-top: 600px;
        margin-left: 10px;
    }
        
    #numbers {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .numbers {
        margin: 10px;
        width: 50px;
    }

    .long-bar {
        background-color: blue;
        height: 10px;
        width: 70%;
        border-radius: 5px;
        margin-left: 300px;
    }

    .comenzar-btn {
        height: 70px;
    }

    #grabar-btn {
        display: none;
    }

    #si-btn {
        display: none;
    }

    #finalizar-btn {
        display: none;
    }

    #subir-btn {
        display: none;
    }

    #video-content {
        color: $base-color-light;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        margin-top: 700px;
        &:hover {
            cursor: pointer;
            text-decoration: underline $special-color; 
        }

    }




}





