@import 'variables';

#home {
    width: 100%;
    margin-top: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: $base-color-light;
    text-align: center;
    line-height: 33px;
    padding: 0 40px 30px;
    @media screen and (min-width: 1220px) {
        font-size: 35px;
        color: $base-color-light;
        text-align: center;
        line-height: 50px;
        padding: 50px 300px;
    }
    span {
        color: $special-color;
    }
}

.main-image {
        display: flex;
        justify-content: center;
    img {
        width: 200px;
        height: 100%;
        @media screen and (min-width:1220px) {
            width: 399px;
            height: 190px;
        }
    }     
}