
@import 'variables';

/* Hamburguer Menu */
header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: $base-color-light;
    padding: 30px 30px 0;
}

.navbar-logo-desktop {
    display: none;
    @media screen and (min-width: 1220px)  {
        .navbar-logo-mobile {
            display: none;
        }
        .navbar-logo-desktop {
            display: block;
        }
    }
}

.create-gifo-btn {
    display: none;
    @media screen and (min-width: 1220px)   {
        display: block;
        cursor: pointer;
    }
}

 


.menu {
    float: right;
    margin-top: 10px;
    ul {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 5px;
        overflow: hidden;
        list-style: none;
        background: $base-color-light;
        opacity: 90%;
        height: 0;
        @media screen and (min-width: 1220px){
            top: 0;
            overflow: hidden;
            background: unset;
            height: unset;
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            margin-top: 30px;
            padding: 0px 40px 0 30px;
            }
    }
    li {
        position: relative;
        padding: 0 20px;
        margin-top: 30px;
        font-size: 15px;
        color: $bg-color-light;
        text-align: center;
        line-height: 60px;
        @media screen and (min-width: 1220px){
            text-transform: uppercase;
            margin: 0;
        }
        
    }
}

.menu-item {
    text-decoration: none;
    color: $bg-color-light;
    line-height: 28px;
    font-size: 16px;
    @media screen and (min-width: 1220px) {
        color: $base-color-light;
        &:hover {
            cursor: pointer;
            border-bottom: 2px solid $special-color;  
        }
    }
}

.active {
    color: gray;
}


.hamburger-menu{
    display: block;
    @media screen and (min-width: 1220px){
        display: none;
    }
}


/* Input type:checkbox style */

.input-check-btn {
display: block;
width: 40px;
height: 32px;
opacity: 0;
z-index: 2;
position: absolute;
&:hover{
    cursor: pointer;
}
&:checked ~ ul  {
    height: 100%;
    transition: height 0.5s ease-in-out;
}
}

