@import 'variables';

//// Search Bar ////

.grid-fluid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    padding: 0 50px;
}

.loader {
    display: block;
    margin: auto;
}

#input-ctn {
    justify-content: center;
    display: flex;
}
#search {
    width: 250px;
    height: 50px;
    border: 1px solid $base-color-light;
    border-radius: 27px;
    padding: 0 10px;
    cursor: text;
    outline: none;
    @media screen and (min-width: 1220px) {
        width: 551px;
    }
}


.main-text {
    padding: 50px 40px;
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: $base-color-light;
        text-align: center;
        line-height: 25px;
    }
}
