/* Google Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap");
/* Components */
/* Hamburguer Menu */
header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #572EE5;
  padding: 30px 30px 0;
}

.navbar-logo-desktop {
  display: none;
}
@media screen and (min-width: 1220px) {
  .navbar-logo-desktop .navbar-logo-mobile {
    display: none;
  }
  .navbar-logo-desktop .navbar-logo-desktop {
    display: block;
  }
}

.create-gifo-btn {
  display: none;
}
@media screen and (min-width: 1220px) {
  .create-gifo-btn {
    display: block;
    cursor: pointer;
  }
}

.menu {
  float: right;
  margin-top: 10px;
}
.menu ul {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 5px;
  overflow: hidden;
  list-style: none;
  background: #572EE5;
  opacity: 90%;
  height: 0;
}
@media screen and (min-width: 1220px) {
  .menu ul {
    top: 0;
    overflow: hidden;
    background: unset;
    height: unset;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 30px;
    padding: 0px 40px 0 30px;
  }
}
.menu li {
  position: relative;
  padding: 0 20px;
  margin-top: 30px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
}
@media screen and (min-width: 1220px) {
  .menu li {
    text-transform: uppercase;
    margin: 0;
  }
}

.menu-item {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 28px;
  font-size: 16px;
}
@media screen and (min-width: 1220px) {
  .menu-item {
    color: #572EE5;
  }
  .menu-item:hover {
    cursor: pointer;
    border-bottom: 2px solid #50E3C2;
  }
}

.active {
  color: gray;
}

.hamburger-menu {
  display: block;
}
@media screen and (min-width: 1220px) {
  .hamburger-menu {
    display: none;
  }
}

/* Input type:checkbox style */
.input-check-btn {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}
.input-check-btn:hover {
  cursor: pointer;
}
.input-check-btn:checked ~ ul {
  height: 100%;
  transition: height 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: #572EE5 5px solid;
  border-bottom: #572EE5 5px solid;
}

main {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
}

#home {
  width: 100%;
  margin-top: 50px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  padding: 0 40px 30px;
}
@media screen and (min-width: 1220px) {
  h1 {
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 50px;
    padding: 50px 300px;
  }
}
h1 span {
  color: #50E3C2;
}

.main-image {
  display: flex;
  justify-content: center;
}
.main-image img {
  width: 200px;
  height: 100%;
}
@media screen and (min-width: 1220px) {
  .main-image img {
    width: 399px;
    height: 190px;
  }
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  padding: 0 50px;
}

.loader {
  display: block;
  margin: auto;
}

#input-ctn {
  justify-content: center;
  display: flex;
}

#search {
  width: 250px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding: 0 10px;
  cursor: text;
  outline: none;
}
@media screen and (min-width: 1220px) {
  #search {
    width: 551px;
  }
}

.main-text {
  padding: 50px 40px;
}
.main-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

#trending {
  background-color: #F3F5F8;
  width: 100%;
  height: 640px;
}

.trending-text {
  text-align: center;
  padding: 100px 60px;
  font-weight: 400;
  font-size: 16px;
  color: #572EE5;
  line-height: 23px;
}
.trending-text p {
  color: #000000;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Gifos section */
.slider {
  display: none;
}

#main-gifs-container {
  display: flex;
}

#gif {
  width: 300px;
  height: 200px;
  margin: 10px;
}

@media screen and (min-width: 1220px) {
  .main-trendign-container {
    display: flex;
    justify-content: space-between;
  }

  .slider {
    padding: 0 30px;
    display: block;
  }
}
footer {
  width: 100%;
  height: 180px;
  background-color: #FFFFFF;
  padding: 50px 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 1220px) {
  footer {
    justify-content: space-between;
  }
}
footer P {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1220px) {
  footer ul {
    display: flex;
  }
}
footer ul li {
  display: inline;
}
footer ul li a {
  color: #CDD6E0;
  padding-right: 30px;
}
footer ul li a img {
  width: 20px;
  height: 20px;
}

/* Pages */
.favoritos {
  margin-bottom: 40px;
}

.fav-icons {
  display: flex;
  justify-content: center;
}

.fav-btn {
  border: none;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  margin-top: 100px;
}

.fav-images {
  padding: 0 30px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 1220px) {
  .fav-images {
    grid-template-columns: repeat(4, 1fr);
  }
}
.fav-images img {
  width: 125px;
}

/* Gifos create button */
.btn-gifos {
  display: none;
  cursor: pointer;
  width: 40px;
  margin-top: 10px;
}
@media screen and (min-width: 1220px) {
  .btn-gifos {
    display: block;
  }
}

/* Dark Mode */
body.dark {
  background-color: #37383C;
  border-top: #000000 5px solid;
  border-bottom: #000000 5px solid;
}

body.dark footer {
  background-color: #37383C;
}

body.dark .text {
  color: #FFFFFF;
}

#trending.dark-bg {
  background-color: #222326;
}

#input-ctn.dark-border #search {
  background: #37383C;
  border: 1px solid #FFFFFF;
}

/*# sourceMappingURL=styles.css.map */
